# CHALLENGE - 3

### Import modules and working files

In [14]:
import pandas as pd

file_name = 'processed_tweet_data.csv'
df = pd.read_csv(file_name)

## DATA-PREPARATION

In [15]:
# glimpes fo the data
# 
df.head(2)

,created_at,source,original_text,polarity,subjectivity,lang,favorite_count,retweet_count,original_author,followers_count,friends_count,possibly_sensitive,hashtags,user_mentions,place
0,Fri Jun 18 17:55:49 +0000 2021,"<a href=""http://twitter.com/download/iphone"" r...","ðŸš¨Africa is ""in the midst of a full-blown third...",0.166667,0.188889,en,548,612.0,ketuesriche,551,351,NaN,NaN,NaN,Mass
1,Fri Jun 18 17:55:59 +0000 2021,"<a href=""https://mobile.twitter.com"" rel=""nofo...","Dr Moeti is head of WHO in Africa, and one of ...",0.133333,0.455556,en,195,92.0,Grid1949,66,92,NaN,NaN,NaN,"Edinburgh, Scotland"

In [16]:
# size of data set
df.shape

(6532, 15)

In [17]:
df.columns

Index(['created_at', 'source', 'original_text', 'polarity', 'subjectivity',
       'lang', 'favorite_count', 'retweet_count', 'original_author',
       'followers_count', 'friends_count', 'possibly_sensitive', 'hashtags',
       'user_mentions', 'place'],
      dtype='object')

In [18]:
# check if we have null 
print("Data Frame before removing null rows ", df.shape)
df['original_text'].isnull().sum()

Data Frame before removing null rows  (6532, 15)

2812

In [20]:
# remove null rows
df = df[~df['original_text'].isnull()]
print("Data Frame after removing null rows ", df.shape)

Data Frame after removing null rows  (3720, 15)